#root {
  text-align: center;
  background-color: #90ee90;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
html,body{
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.navBar{
   /* light green */
   background-color: #90ee90;

}
